<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Quicksand&family=Silkscreen&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>grid-and-flexbox</title>
  </head>
  <body>
    <!-- ========== FLEXBOX HEADER ========== -->
    <h1 class="title">FLEXBOX HEADER</h1>
    <div class="flexbox-header">
      <div>HOME</div>
      <div>SEARCH</div>
      <div>LOGOUT</div>
    </div>
    <!-- ========== GRID LAYOUT ========== -->
    <h1 class="title">GRID LAYOUT</h1>
    <div class="grid-page">
      <div class="grid-header">HEADER</div>
      <div class="menu">MENU</div>
      <div class="content">CONTENT</div>
      <div class="footer">FOOTER</div>
    </div>
    <!-- ========== COMBINED ========== -->
    <h1 class="title">COMBINED</h1>
    <div class="grid-page">
      <div class="flex-header">
        <div>HOME</div>
        <div>SEARCH</div>
        <div>LOGOUT</div>
      </div>
      <div class="menu">MENU</div>
      <div class="content">CONTENT</div>
      <div class="footer">FOOTER</div>
    </div>
  </body>
</html>
